<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style1.css">
    <title>PresentFlow</title>
</head>
<body>
    <header>
        <img src="/static/imj/image 2.png" alt="">
        <nav>
            <a href="">HOME</a>
            <a href="">ABOUT</a>
            <a href="">CONTACT US</a>
        </nav>
    </header>
    <main>
        <img class="bg-img" src="/static/imj/Group4.png" alt="">
        <div class="content">
            <div class="left">
                <h1>PresentFlow:</h1>
                <h3>A Smart PPT Conversion <br></h3>
                <p>Providing seamless conversion of your SLM to PowerPoint using AI</p>
                <div class="buttons">
                    <a href="/home">Get Started</a>
                    <a href="">Learn More > </a>
                </div>
            </div>
            <div class="right">
                <img src="/static/imj/Pic.png" alt="">
            </div>
        </div>
    </main>
    <div id="about-system">{% include 'aboutsystem.html' %}</div>
    <div id="about-us">{% include 'aboutus.html' %}</div>
</body>
</html>